// 공통
@import "../../scss/components/default.scss";

// selectBox
.contentBox {
	.examples {
		display: flex;
		padding: 30px;
		border: 1px solid #ccc;
		border-radius: 5px;
		background: lightgoldenrodyellow;

		.selectDefult {
			width: 250px;
			padding: 10px 30px 10px 10px;
			border-radius: 4px;
			outline: 0;
			background-color: rgb(45, 190, 166);
			background-image: url(../../image/content/ico_arrow_down_whtie.png);
			background-size: 20px 20px;
			background-repeat: no-repeat;
			background-position: right 10px center;
			color: #fff;
			appearance: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			-o-appearance: none;
			cursor: pointer;
			vertical-align: middle;
			line-height: normal;
			margin-right: 5px;

			option {
				color: #fff;
			}
		}

		.arrowCustom {
			display: inline-block;
			position: relative;
			width: 250px;
			height: 35px;

			select {
				position: relative;
				z-index: 20;
				width: inherit;
				height: inherit;
				padding: 10px 30px 10px 10px;
				// border: 1px solid rgb(29, 29, 29);
				border-radius: 4px;
				outline: 0;
				// background-color: transparent;
				background-color: rgb(45, 190, 166);
				color: #fff;
				appearance: none;
				-webkit-appearance: none;
				-moz-appearance: none;
				-o-appearance: none;
				cursor: pointer;
				vertical-align: middle;
				line-height: normal;

				&:focus+.icoArrow {
					img {
						transform: rotate(180deg);
					}
				}
			}

			.icoArrow {
				position: absolute;
				right: 10px;
				top: 7.5px;
				z-index: 30;
				background-color: transparent;
				cursor: pointer;

				img {
					width: 20px;
					height: 20px;
					transition: .3s;
				}
			}
		}

		.selectCustom {
			width: 140px;
			height: 30px;
			display: inline-block;
			position: relative;
			text-align: left;
			vertical-align: middle;

			&+.selectCustom {
				margin-left: 5px;
			}

			dl {
				position: relative;

				dt {
					display: block;

					a {
						display: block;
						height: 30px;
						border: 1px solid #ccc;
						border-radius: 5px;
						background: #fff;
						font-size: 13px;

						span {
							display: block;
							height: 100%;
							margin: 0 50px 0 10px;
							line-height: 28px;

							&::after {
								content: '';
								display: block;
								position: absolute;
								top: 12px;
								right: 10px;
								width: 13px;
								height: 7px;
								background: url(../../image/content/ico_arr_down_sm.png) 0 0 no-repeat;
								background-size: 100% 100%;
							}
						}
					}
				}

				dd {
					display: none;
					position: absolute;
					top: 29px;
					left: 0;
					width: 100%;
					border: 1px solid #ccc;
					border-radius: 5px;
					background: #fff;

					ul {
						a {
							display: block;
							width: 100%;
							font-size: 13px;

							span {
								display: block;
								height: 30px;
								padding-left: 10px;
								line-height: 30px;

								&:hover {
									background: rgb(45, 190, 166);
									color: #fff;
								}
							}
						}
					}
				}
			}

			&.show {
				.selTitle {
					span {
						&::after {
							transform: rotate(180deg);
						}
					}
				}

				dd {
					display: block;
				}
			}
		}
	}
}