* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: black;
  vertical-align: baseline;
}

body {
  min-width: 500px;
}

body .conTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  min-width: 500px;
  padding: 5px;
  background: #fff;
}

body .conTitle .linkBtn {
  display: inline-block;
  margin-right: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  background: #313131;
  color: white;
}

body .conBody {
  position: relative;
  top: 55px;
  left: 0;
  padding: 0 10px 10px;
}

body .conBody .title {
  margin: 20px 0 5px;
}

body .conBody .guide .textBox {
  height: 200px;
  border: 1px solid #ccc;
  background: lightgoldenrodyellow;
  padding: 20px;
}

.conBody .contentBox > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.conBody .contentBox > div .examples {
  overflow-y: auto;
  overflow-x: hidden;
  width: 510px;
  height: 300px;
  padding: 20px;
  border: 1px solid #ccc;
}

.conBody .contentBox > div .examples:first-child {
  margin-right: 10px;
}

.conBody .contentBox > div .examples .containerA .tooltipWrap {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
}

.conBody .contentBox > div .examples .containerA .tooltipWrap .tooltipBtnA {
  display: inline-block;
  padding: 3px 5px;
  border-radius: 5px;
  background: #313131;
  font-size: 14px;
  font-weight: bold;
  color: white;
  line-height: 15px;
}

.conBody .contentBox > div .examples .containerA .tooltipWrap .tooltipA {
  display: inline-block;
  display: none;
  position: absolute;
  top: 25px;
  left: calc(50% - 75px);
  width: 150px;
  padding: 10px;
  border-radius: 7px;
  background: lightblue;
  -webkit-box-shadow: 1px 6px 18px 0px #545454;
          box-shadow: 1px 6px 18px 0px #545454;
}

.conBody .contentBox > div .examples .containerA .tooltipWrap .tooltipA .closeBtn {
  display: inline-block;
  position: absolute;
  top: 6px;
  right: 3px;
  width: 30px;
  height: 30px;
  background: none;
  cursor: pointer;
}

.conBody .contentBox > div .examples .containerB {
  position: relative;
}

.conBody .contentBox > div .examples .containerB .tooltipBtnB {
  display: inline-block;
  padding: 3px 5px;
  border-radius: 5px;
  background: #313131;
  font-size: 14px;
  font-weight: bold;
  color: white;
  line-height: 15px;
}

.conBody .contentBox > div .examples .containerB .tooltipB {
  display: none;
  position: absolute;
  width: 100%;
  padding: 10px;
  border-radius: 7px;
  background: lightblue;
  -webkit-box-shadow: 1px 6px 18px 0px #545454;
          box-shadow: 1px 6px 18px 0px #545454;
}

.conBody .contentBox > div .examples .containerB .tooltipB .closeBtnB {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background: none;
  cursor: pointer;
}
