* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: black;
  vertical-align: baseline;
}

body {
  min-width: 600px;
}

body .conTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  min-width: 500px;
  padding: 5px;
  background: #fff;
}

body .conTitle .linkBtn {
  display: inline-block;
  margin-right: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  background: #313131;
  color: white;
}

body .conBody {
  position: relative;
  top: 55px;
  left: 0;
  padding: 0 10px 10px;
}

body .conBody .title {
  margin: 20px 0 5px;
  font-size: 20px;
}

body .conBody .subTitle {
  margin: 20px 0 5px;
  font-size: 18px;
}

body .conBody .guide .textBox {
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: lightgoldenrodyellow;
  padding: 20px;
}

.srOnly {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  margin: 0;
  font-size: 1px;
  color: transparent;
  line-height: 0;
  overflow: hidden;
}
