* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: black;
  vertical-align: baseline;
}

body {
  min-width: 600px;
}

body .conTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  min-width: 500px;
  padding: 5px;
  background: #fff;
}

body .conTitle .linkBtn {
  display: inline-block;
  margin-right: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  background: #313131;
  color: white;
}

body .conBody {
  position: relative;
  top: 55px;
  left: 0;
  padding: 0 10px 10px;
}

body .conBody .title {
  margin: 20px 0 5px;
  font-size: 20px;
}

body .conBody .subTitle {
  margin: 20px 0 5px;
  font-size: 18px;
}

body .conBody .guide .textBox {
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: lightgoldenrodyellow;
  padding: 20px;
}

.srOnly {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  margin: 0;
  font-size: 1px;
  color: transparent;
  line-height: 0;
  overflow: hidden;
}

.contentBox .examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: lightgoldenrodyellow;
}

.contentBox .examples .selectDefult {
  width: 250px;
  padding: 10px 30px 10px 10px;
  border-radius: 4px;
  outline: 0;
  background-color: #2dbea6;
  background-image: url(../../image/content/ico_arrow_down_whtie.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: right 10px center;
  color: #fff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  cursor: pointer;
  vertical-align: middle;
  line-height: normal;
  margin-right: 5px;
}

.contentBox .examples .selectDefult option {
  color: #fff;
}

.contentBox .examples .arrowCustom {
  display: inline-block;
  position: relative;
  width: 250px;
  height: 35px;
}

.contentBox .examples .arrowCustom select {
  position: relative;
  z-index: 20;
  width: inherit;
  height: inherit;
  padding: 10px 30px 10px 10px;
  border-radius: 4px;
  outline: 0;
  background-color: #2dbea6;
  color: #fff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  cursor: pointer;
  vertical-align: middle;
  line-height: normal;
}

.contentBox .examples .arrowCustom select:focus + .icoArrow img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.contentBox .examples .arrowCustom .icoArrow {
  position: absolute;
  right: 10px;
  top: 7.5px;
  z-index: 30;
  background-color: transparent;
  cursor: pointer;
}

.contentBox .examples .arrowCustom .icoArrow img {
  width: 20px;
  height: 20px;
  -webkit-transition: .3s;
  transition: .3s;
}

.contentBox .examples .selectCustom {
  width: 140px;
  height: 30px;
  display: inline-block;
  position: relative;
  text-align: left;
  vertical-align: middle;
}

.contentBox .examples .selectCustom + .selectCustom {
  margin-left: 5px;
}

.contentBox .examples .selectCustom dl {
  position: relative;
}

.contentBox .examples .selectCustom dl dt {
  display: block;
}

.contentBox .examples .selectCustom dl dt a {
  display: block;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  font-size: 13px;
}

.contentBox .examples .selectCustom dl dt a span {
  display: block;
  height: 100%;
  margin: 0 50px 0 10px;
  line-height: 28px;
}

.contentBox .examples .selectCustom dl dt a span::after {
  content: '';
  display: block;
  position: absolute;
  top: 12px;
  right: 10px;
  width: 13px;
  height: 7px;
  background: url(../../image/content/ico_arr_down_sm.png) 0 0 no-repeat;
  background-size: 100% 100%;
}

.contentBox .examples .selectCustom dl dd {
  display: none;
  position: absolute;
  top: 29px;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
}

.contentBox .examples .selectCustom dl dd ul a {
  display: block;
  width: 100%;
  font-size: 13px;
}

.contentBox .examples .selectCustom dl dd ul a span {
  display: block;
  height: 30px;
  padding-left: 10px;
  line-height: 30px;
}

.contentBox .examples .selectCustom dl dd ul a span:hover {
  background: #2dbea6;
  color: #fff;
}

.contentBox .examples .selectCustom.show .selTitle span::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.contentBox .examples .selectCustom.show dd {
  display: block;
}
